NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDP8nH0fBfhihMyoWbJFPuY19azNqxU42E
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=carbon-backend-99e4a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=carbon-backend-99e4a
NEXT_PUBLIC_FIREBASE_APP_ID=1:362038784102:web:963a92bd00df3d0bd4bda7
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=362038784102

FIREBASE_PROJECT_ID=carbon-backend-99e4a
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@carbon-backend-99e4a.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
CSV_STORAGE_BACKEND=auto

ADMIN_EMAILS=Gauravkum1275@gmail.com
